---
import Layout from "../layouts/Layout.astro";
---

<Layout title="EduStage d'Alexandre">
  <div class="container">
    <svg
      class="edu-logo"
      width="286"
      height="48"
      viewBox="0 0 286 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_165_5940)">
        <path
          d="M65.2716 28.7513C65.1178 28.7513 64.9876 28.8771 64.9916 29.0343C65.0981 32.4258 67.0385 35.6601 71.1756 35.6601C74.6226 35.6601 75.6796 34.4458 76.4802 32.8306C76.5275 32.7362 76.6222 32.6773 76.7286 32.6773H84.719C84.9083 32.6773 85.0424 32.862 84.9793 33.0389C83.7685 36.4775 80.3058 41.7122 70.9508 41.7122C60.7953 41.7122 56.386 34.8309 56.386 27.5016C56.386 18.7379 61.3514 12.4815 71.2545 12.4815C81.8439 12.4815 85.4447 19.4217 85.4447 26.3973C85.4447 27.2462 85.4447 27.8278 85.3618 28.5116C85.3461 28.6491 85.2277 28.7513 85.0897 28.7513H65.2637H65.2716ZM76.6103 24C76.7681 24 76.8943 23.8704 76.8903 23.7132C76.7523 20.5889 75.2812 18.0109 71.2466 18.0109C67.212 18.0109 65.6108 20.416 65.2046 23.6896C65.1848 23.8546 65.315 24 65.4806 24H76.6143H76.6103ZM82.7036 1.61131L73.8496 9.0585C73.7983 9.10173 73.7352 9.12531 73.6721 9.12531H66.9044C66.6677 9.12531 66.5415 8.85022 66.6953 8.67337L73.0766 1.22618C73.1279 1.1633 73.2067 1.12793 73.2856 1.12793H82.5262C82.7825 1.12793 82.9008 1.44625 82.7036 1.61131Z"
          fill="white"></path>
        <path
          d="M119.816 1.67432C119.97 1.67432 120.092 1.79614 120.092 1.94941V33.3966C120.092 35.8489 120.092 38.3286 120.147 40.7927C120.147 40.946 120.029 41.0717 119.871 41.0717H112.169C112.034 41.0717 111.92 40.9774 111.896 40.8438C111.79 40.2543 111.687 39.4723 111.62 38.8513C111.593 38.6077 111.289 38.5212 111.131 38.7099C109.581 40.5805 107.002 41.7162 102.802 41.7162C95.0046 41.7162 90.0432 36.0414 90.0432 27.3288C90.0432 18.6162 95.3162 12.4855 104.048 12.4855C107.767 12.4855 110.043 13.4837 111.084 14.5409C111.254 14.7138 111.549 14.588 111.549 14.3444V1.94941C111.549 1.79614 111.672 1.67432 111.825 1.67432H119.812H119.816ZM98.8145 27.1284C98.8145 32.5752 101.157 35.5227 105.334 35.5227C111.206 35.5227 111.881 31.0858 111.881 27.0734C111.881 22.2985 111.135 18.683 105.555 18.683C101.074 18.683 98.8105 21.8544 98.8105 27.1284H98.8145Z"
          fill="white"></path>
        <path
          d="M152.061 32.9524C152.061 35.5462 152.069 38.356 152.116 40.7926C152.116 40.9459 151.994 41.0677 151.844 41.0677H143.996C143.858 41.0677 143.739 40.9655 143.724 40.828C143.653 40.2424 143.605 39.3857 143.566 38.6233C143.554 38.3718 143.235 38.2735 143.077 38.4739C141.263 40.8083 138.664 41.7122 135.035 41.7122C128.753 41.7122 124.742 38.2539 124.742 31.3254V13.4011C124.742 13.2517 124.864 13.126 125.018 13.126H133C133.15 13.126 133.276 13.2478 133.276 13.4011V29.7731C133.276 32.8581 134.333 35.4086 138.029 35.4086C141.921 35.4086 143.53 33.5301 143.53 27.9968V13.4011C143.53 13.2517 143.653 13.126 143.807 13.126H151.797C151.947 13.126 152.073 13.2478 152.073 13.4011V32.9445L152.061 32.9524Z"
          fill="white"></path>
        <path
          d="M160.892 21.0053C160.892 18.6828 160.892 16.148 160.832 14.0376H163.822C163.881 14.9493 163.999 17.2523 163.944 18.8085C165.183 16.1244 167.876 13.3892 172.739 13.3892C176.853 13.3892 180.063 15.2834 181.234 18.7103C182.709 15.9161 185.636 13.3892 190.794 13.3892C195.33 13.3892 200.019 15.7786 200.019 23.2729V41.0401H196.97V23.6069C196.97 20.015 195.57 16.1087 190.155 16.1087C184.74 16.1087 181.952 20.2744 181.952 25.4894V41.044H178.959V23.6698C178.959 19.7517 177.677 16.1126 172.317 16.1126C166.673 16.1126 163.94 20.6949 163.94 26.185V41.044H160.888V21.0053H160.892Z"
          fill="white"></path>
        <path
          d="M239.324 41.0246V1.25781H242.424V41.0286H239.324V41.0246Z"
          fill="white"></path>
        <path
          d="M251.14 1.25781H254.24V6.52783H251.14V1.25781ZM251.14 14.0222H254.24V41.0286H251.14V14.0182V14.0222Z"
          fill="white"></path>
        <path
          d="M263.019 20.8364C263.019 18.4627 263.019 16.1873 262.96 14.0298H265.997C266.119 14.8904 266.178 18.3645 266.119 19.123C267.424 16.3917 269.869 13.3813 275.986 13.3813C281.307 13.3813 286 16.1048 286 23.5441V41.0362H282.9V23.9843C282.9 19.2173 280.719 16.1048 275.568 16.1048C268.556 16.1048 266.119 21.3709 266.119 27.2343V41.0362H263.019V20.8364Z"
          fill="white"></path>
        <path
          d="M227.962 13.1182V16.5647C225.875 14.3679 222.791 13.2675 218.713 13.2675C214.88 13.2675 211.736 14.5997 209.283 17.2603C206.83 19.9208 205.608 23.1434 205.608 26.924C205.608 30.7045 206.81 34.0057 209.212 36.8195C211.614 39.6333 214.832 41.0402 218.859 41.0402C222.886 41.0402 225.923 39.9634 227.962 37.8098V41.0363H231.223V13.1182H227.962ZM228.194 29.3055C228.194 34.3751 224.026 38.4858 218.883 38.4858C217.534 38.4858 216.252 38.2028 215.097 37.6959C211.76 36.0021 208.475 33.0035 208.475 27.5685C208.475 23.2809 210.486 19.3549 212.959 17.7594C212.975 17.7437 212.991 17.728 213.014 17.7201C214.615 16.4311 216.65 15.6608 218.879 15.6608C221.778 15.6608 224.369 16.9695 226.076 19.017C226.577 19.5003 227.031 20.1527 227.386 21.1155C227.898 22.2552 228.19 23.5128 228.19 24.8372V29.3016L228.194 29.3055Z"
          fill="white"></path>
        <path
          d="M40.0109 22.5657V38.1242C40.0109 39.8927 38.5754 41.3232 36.7967 41.3232H31.3028L26.2625 48.0001V41.3232H20.9303C19.1556 41.3232 17.7161 39.8927 17.7161 38.1242V22.5657C17.7161 20.7972 19.1556 19.3628 20.9303 19.3628H36.7967C38.5714 19.3628 40.0109 20.7933 40.0109 22.5657Z"
          fill="#3BB2B2"></path>
        <path
          d="M28.8694 8.43772V23.9963C28.8694 25.7647 27.4338 27.1991 25.659 27.1991H9.79271C8.01795 27.1991 6.57843 25.7687 6.57843 23.9963V21.6698L0 16.7416H6.57843V8.43772C6.57843 6.66926 8.01401 5.23877 9.79271 5.23877H25.659C27.4338 5.23877 28.8694 6.66926 28.8694 8.43772Z"
          fill="#DE2085"></path>
        <path
          d="M55.8692 5.23858L48.9989 10.3868V18.73C48.9989 20.5142 47.5476 21.9604 45.7571 21.9604H29.9499C28.1594 21.9604 26.708 20.5142 26.708 18.73V3.23039C26.708 1.44621 28.1594 0 29.9499 0H45.7571C47.5476 0 48.9989 1.44621 48.9989 3.23039V5.23465H55.8692V5.23858Z"
          fill="#4A89DB"></path>
      </g>
    </svg>
    <header>
      <h1>
        Mon stage d'observation en entreprise avec <span class="text-gradient"
          >Edumalin</span>
      </h1>
      <p class="stage-period">Du 17 au 28 juin 2024</p>
    </header>
    <aside>
      <h2>Rencontre avec les pôles</h2>
      <ul>
        <li>Pôle pédagogique</li>
        <p>
          <strong>Laure</strong> m’a expliqué qu’elle traite les contenus pédagogique, qu’elle
          les optimise et tient à jour par rapport aux programmes de l’éducation
          nationale.
        </p>
        <p>
          <strong>Céline</strong>, ingénieure pédagogique, met à jour les contenus pour que les
          élèves puissent travailler avec des supports adaptés aux programmes.
        </p>
        <li>Pôle RH et commercial</li>
        <p>
          <strong>Chloé</strong>, multitâche, elle s’occupe de contacter les entreprises, dresser
          la carte des territoires ayant des besoins pour leur proposer les
          services d’Edumalin.
        </p>
        <li>Pôle qualité et expérience utilisateur</li>
        <p>
          <strong>Emmanuelle</strong> récupère les avis des utilisateurs, les assiste et les
          guide pour l’utilisation de la plateforme.
        </p>
        <li>Pôle commercial</li>
        <p>
          <strong>Caroline</strong> contacte les entreprises, collectivités et établissements
          pour proposer les services d’Edumalin.
        </p>
        <li>Pôle technique</li>
        <p>
          <strong>Mickael</strong>, <strong>Gwenaelle</strong>, <strong>Georges</strong> et <strong>Mehdi</strong> constituent le pôle R&D, ils
          développent les applications d’Edumalin en veillant à leur accessibilité et ergonomie.
        </p>
        <li>Pôle communication</li>
        <p>
          <strong>Tracy</strong> est chargé de la communication sur les réseaux sociaux, des
          design Print & Web, elle décide quel est le moment opportun pour
          communiquer. Elle créé aussi des vidéos.
        </p>
        <li>Interpole</li>
        <p>
          <strong>Pauline</strong> est chargée de la communication et la cohésion entre les pôles.
          Elle doit s’y connaitre un peu sur tous les sujets pour traduire leurs
          échanges, elle se charge aussi d’intervenir sur le contenu pédagogique
          scientifique.
        </p>
      </ul>
    </aside>
    <main>
      <h2>Le travail effectué</h2>
      <ul>
        <li>Pôle pédagogique</li>
        <p>
          Correction de supports destinés à la matière Oral du chef d’œuvre.<br>
          Test de l’application.<br>
          Recherche d’images adaptées aux besoins du pôle.<br>
          Rapport de bug avec screen et vidéo envoyés par mail.
        </p>
        <li>Pôle qualité et expérience utilisateur</li>
        <p>Retour d’expérience d’un utilisateur étudiant, moi même !</p>
        <li>Pôle technique</li>
        <p>Participation quotidienne aux réunions “daily scrum”, m’ayant permis de voir comment s’organise une équipe de développeurs.</p>
      </ul>
    </main>
    <footer>
      <h2>Bilan & Remerciements</h2>
      <p>Ce stage fut très formateur, j'ai pu apprendre comment :</p>
      <ul>
        <li>Faire des screenshots sur ordinateur et des captures vidéos;</li>
        <li>Éditer des documents en grand nombre à l'aide des outils de la suite office;</li>
        <li>Envoyer des fichier volumineux en utilisant le cloud lorsque le mail ne le permet pas;</li>
        <li>Analyser une application, la tester, se mettre à la place d’un utilisateur, comprendre les problèmes qu’il peut rencontrer lors de son expérience.</li>
      </ul>
      <p class="conclusion">
        J’ai beaucoup appris sur le fonctionnement d’une entreprise de la EdTech, les
        métiers qui y sont liés et son organisation.<br>
        Je remercie tout d’abord Edumalin pour m’avoir accueilli et m’avoir
        permis de réaliser ce stage.<br>
        Je remercie également les développeurs pour leur patience et leur
        aide, et chacune des personnes ayant pris un peu de temps pour m'expliquer en quoi consiste leur travail.<br>
        Merci à <strong>Laure</strong> pour les tâches très intéressantes qu'elle m'a confiées.<br>
        Merci à <strong>Mehdi</strong> pour assistance et ses explications sur le fonctionnement de l'application, et l'intégration de cette page.
      </p>
    </footer>
  </div>
</Layout>

<style>
  .container {
    margin: 6vh auto;
    padding: 1rem;
    width: 1024px;
    max-width: calc(100% - 2rem);
    line-height: 1.5;
    display: grid;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
    gap: 1.5rem;
  }

  .edu-logo {
    position: absolute;
    top: 1rem;
    left: 15vw;
    transform: translatex(-50%);
    width: 150px;
    height: auto;
  }

  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgb(var(--main-bg));
  }
  h1 {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 1.6rem;
  }
  .text-gradient {
    background-image: var(--brand-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .stage-period {
    font-size: 0.9rem;
  }

  aside,
  main,
  footer {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background: rgb(var(--main-bg));
    padding: 2rem;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid var(--border-size) transparent;
    border-radius: 0.5rem;
  }

  header:before,
  aside:before,
  main:before,
  footer:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: calc(var(--border-size) * (-1));
    border-radius: inherit;
  }

  header:before,
  aside:before {
    background: var(--brand-gradient);
  }

  main:before,
  footer:before {
    background: var(--reverse-brand-gradient);
  }

  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  ul {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  li {
    margin-bottom: .2rem;
    font-weight: 500;
  }
  p {
    font-size: 0.9rem;
  }
  .conclusion {
    line-height: 1.5rem;
  }

  @media (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
        padding: 0;
        margin: 7vh auto
    }
    header {
      padding: .4rem;
    }
    aside,
    main,
    footer {
      padding: 1rem;
    }
    .edu-logo {
      left: 50%;
    }
    h1 {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
</style>
